/* UserSelectModal.css  ayuda chat GPT */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
  
.modal-content {
    background: #07021e;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    color: white;
}
  
.modal-content h2 {
    margin-top: 0;
}
  
.modal-content ul {
    list-style-type: none;
    padding: 0;
}
  
.modal-content ul li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    background-color: #07021e; /* Color de fondo original */
    transition: filter 0.3s ease; /* Transición suave */
}
  
.modal-content ul li:hover {
    filter: brightness(90%); /* Oscurece el fondo ligeramente */
}
  
.modal-content button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #808080;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
  
.modal-content button:hover {
    background-color: #c17ce1;
}
  
.modal-content .search-input {
    padding: 0.5rem;
    width: 10vh;
    height: 6vh;
    margin-top: 3%;
}
  
.modal-content .search-bar {
    padding-bottom: 2vh;
    padding-top: 2vh;
}

/* Estilos adicionales para la imagen del usuario */
.user-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    background-color: #07021e;
    transition: filter 0.3s ease;
}

.user-item:hover {
    filter: brightness(40%);
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
