.review-container {
  background-color: #FFFFFF;
  display: flex;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.movie-image {
  width: 150px;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  margin-right: 10px;
}

.review-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1;
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* Espacio entre la imagen de usuario y el título */
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  color: #07021E;
  font-weight: bold;
}

.review-title {
  font-size: 1.2em;
  color: #07021E;
  margin-top: 60px;
  text-align: center; /* Centra el título horizontalmente */
}

.review-rating {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.review-text {
  margin-top: 10px;
  font-size: 1em;
  line-height: 1.5;
  text-align: justify;
}

.review-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.fecha-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra la fecha horizontalmente */
  font-size: 0.9em;
  color: #07021E;
}

.edit-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los botones de acción horizontalmente */
  font-size: 0.9em;
  color: #07021E;
}

.number-like {
  margin-left: 5px;
  color: #07021E;
  cursor: pointer;
}

.number-action {
  color: #07021E;
  cursor: pointer;
  font-size: 0.7em;
  margin-right: 10px;
}

@media (max-width: 430px) {
  .review-title {
      font-size: 1em;
  }

  .review-header {
      flex-direction: column;
      align-items: center; /* Centra verticalmente en pantallas pequeñas */
  }
}

@media (max-width: 375px) {
  .review-title {
      font-size: 1em;
  }
}
