.info-card {
    background-color: unset;
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;

}

.grid-item {
    text-align: center;
}

.title-card {
    font-size: 1em;
}

.number-like {
    font-size: 0.7em;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: white;
    font-family: 'Inter', sans-serif;
  }
  
  .flex-item {
    margin: 0 10px; /* espacio entre los elementos */
  }
  
  