/*Medidas y contenedores --------------------------------------------------*/

.portada_img_login {
    height: 81vh; /* Altura deseada para la imagen de fondo */
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../../assets/portada-login.jpg"); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ocupar todo el ancho disponible */
    margin-top: 7%;
}

.form-login {
    margin-top: 30%;
    margin-left: 20%;
    margin-right: 20%;
}

.col-md-5, .col-7{
    background-color: #07021E;
}

/*Textos y formatos --------------------------------------------------*/


.login-text-header {
    color: white;
    font-size:xx-large;
    font-family: 'Inter', sans-serif;

}

.login-text-label {
    color: white;
    font-size: medium;
    margin-top: 5%;
    margin-bottom: 2%;
    font-family: 'Inter', sans-serif;

}

.form-control{
    padding: 3%;
    border: none; /* quitar el borde */
    box-shadow: none; /* quitar la sombra */
}

.btn {
    margin-top: 10%;
    padding: 4%;
    font-size: 1.1em;
    background-color: #1E90FF;
}

.form-control::placeholder {
    color: #999; /* color del placeholder */
}

#usuario, #password{
    background-color: #2b283a; /* color de fondo para el campo de usuario */
    color: white;
    font-size: medium;
    font-family: 'Inter', sans-serif;
}

/*Campo del password--------------------------------------------------*/

.password-input {
    position: relative;
}

.password-field {
    padding-right: 2.5rem;
    background-color: #2b283a;
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 0.75rem; /* ajusta la posición del icono */
    transform: translateY(-50%);
    cursor: pointer;
    color: #ffffff;
}

/* Media Query para iPad */
@media only screen and (max-width: 1024px) {
    .portada_img_login {
        height: 87vh; 
        margin-top: 5%;
    }

    .form-login {
        margin-top: 50%; 
        margin-left: 15%; 
        margin-right: 15%; 
    }
}

@media only screen and (max-width: 767px) {
    .portada_img_login {
        height: 0vh; /* Ajusta la altura deseada para la imagen de fondo en celulares */
        margin-top: 0%; /* Ajusta el margen superior según sea necesario */
    }

    .form-login {
        width: 70%; /* Ancho completo en dispositivos celulares */
        margin-top: 15%; /* Ajusta el margen superior del formulario en celulares */
        padding: 1.5rem; /* Ajusta el espaciado interno del formulario en celulares */
        border-radius: 0; /* Elimina el borde redondeado en celulares */
        justify-content: center;
        background-color: #07021E; /* Color de fondo del formulario en celulares */
        padding-top: 60%;
        padding-bottom: 60%;
        height: 100%;
    }

    .btn {
        margin-top: 15%; /* Ajusta el margen superior del botón en celulares */
        font-size: 1em; /* Ajusta el tamaño de fuente del botón en celulares */
    }

    .login-text-header {
        font-size: x-large; /* Ajusta el tamaño de fuente del encabezado en celulares */
    }

    .login-text-label {
        font-size: small; /* Ajusta el tamaño de fuente de las etiquetas en celulares */
        margin-top: 3%; /* Ajusta el margen superior de las etiquetas en celulares */
        margin-bottom: 1%; /* Ajusta el margen inferior de las etiquetas en celulares */
    }
}
