.contenido {
    background-color: #07021E;
    width: 100%;
    min-height: 900px;
}

.contenido_principal {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
}

.carousel-control-next {
    justify-content: right;
}

.carousel-control-prev {
    justify-content: left;
}

.titulo {
    width: 90%;
    padding-bottom: 2%;
}

.container_cards {
    display: grid;
    border-radius: 10px;
}

.contenedor_carrusel {
    display: flex;
    width: 95%;
    justify-content: center;
}

.carousel.slide {
    width: 100%;
}

.Botones {
    width: 100%;
    padding-bottom: 5%;
    display: flex;
    align-items: first baseline;
}

.texto_boton {
    font-family: 'Inter', sans-serif;
    font-size: medium;
    color: #FFFEFF;
}

.boton {
    background-color: #07021E;
    border-width: 1px;
    border-color: #F6AE2D;
    font-family: 'Inter', sans-serif;
    margin-left: 15px;
    color: #F6AE2D;
}

.titulo_info_pag {
    font-family: 'Inter', sans-serif;
    color: #FFFEFF;
    justify-content: center;
}


@media screen and (max-width: 549px) {
    .separador {
        padding-top: 35%;
    }

    .titulo_info_pag {
        font-size: x-large;
    }

    .separador_chico {
        height: 4vb;
    }
}

@media screen and (min-width: 550px) and (max-width: 649px) {
    .separador {
        padding-top: 35%;
    }

    .titulo_info_pag {
        font-size: x-large;
    }

    .separador_chico {
        height: 70px;
    }
}

@media screen and (min-width: 650px) and (max-width: 767px) {
    .separador {
        padding-top: 35%;
    }

    .titulo_info_pag {
        font-size: x-large;
    }

    .separador_chico {
        height: 70px;
    }
}

@media screen and (min-width: 768px) and (max-width: 989px) {
    .separador {
        padding-top: 20%;
    }

    .titulo_info_pag {
        font-size: xx-large;
    }

    .separador_chico {
        height: 100px;
    }
}

@media screen and (min-width: 990px) {
    .separador {
        padding-top: 18%;
    }

    .titulo_info_pag {
        font-size: xx-large;
    }

    .separador_chico {
        height: 100px;
    }
}

@media screen and (min-width: 1000px) {
    .separador {
        padding-top: 15%;
    }

    .titulo_info_pag {
        font-size: xx-large;
    }

    .separador_chico {
        height: 100px;
    }
}

@media screen and (min-width: 1200px) {
    .separador {
        padding-top: 8%;
    }

    .titulo_info_pag {
        font-size: xx-large;
    }

    .separador_chico {
        height: 70px;
    }
}