.search-bar {
    display: flex;
    padding-bottom: 5vh;
    padding-top: 5vh;

  }
  
  .search-input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 140vh;
  }
  
  .search-button {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-gris {
    background-color: #808080;
  }