.movie-app {
    overflow-x: auto; /* Permite scroll horizontal si es necesario */
    padding: 20px; /* Espaciado interior */
}

.movie-list {
    display: flex;
    gap: 20px; /* Espacio entre las películas */
}

.movie-item {
    flex: 0 0 auto; /* No permite que los elementos se expandan */
    width: 200px; /* Ancho fijo de cada película */
    position: relative; /* Para posicionar correctamente InfoCardMovie */
}

.poster-container {
    cursor: pointer;
    transition: transform 0.3s;
}

.poster-container:hover {
    transform: scale(1.05);
}

.movie-poster {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-left: 10%;
}

/* Estilos para InfoCardMovie */
.info-card-movie {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.info-card-movie h2 {
    margin: 0;
    font-size: 1em;
}

.info-card-movie p {
    margin: 5px 0;
    font-size: 0.8em;
}

/*Referencias: chat GPT*/