.movie-poster {
    width: 18vh;
    height: 25vh;
    display: inline-block; /* Mostrar las imágenes en línea */
    margin-right: 1em; /* Espacio entre las imágenes */
}

.movie-app {
    overflow-x: auto; /* Permitir el desplazamiento horizontal */
    white-space: nowrap; /* Evitar que las imágenes se envuelvan a la siguiente línea */
    position: relative; /* Establecer posición relativa para el desplazamiento personalizado */
}

.movie-app::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
    height: 8px; /* Altura de la barra de desplazamiento */
    background-color: transparent; /* Color de fondo de la barra de desplazamiento */
}

.movie-app::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del pulgar de la barra de desplazamiento */
    border-radius: 4px; /* Bordes redondeados del pulgar */
}

.movie-app::-webkit-scrollbar-track {
    background-color: transparent; /* Color de fondo del riel de la barra de desplazamiento */
}

.movie-app {
    scrollbar-width: thin; /* Establecer el grosor del scrollbar en navegadores compatibles */
    scrollbar-color: #888 transparent; /* Color del pulgar y del riel de la barra de desplazamiento */
    transition: scrollbar-color 0.3s ease; /* Agregar transición suave al cambio de color de la barra de desplazamiento */
}

.movie-app:hover {
    scrollbar-color: #555 transparent; /* Cambiar el color de la barra de desplazamiento al pasar el ratón */
}
