.Card_lista_chica {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.div_imagen_lista_ch {
    grid-column: 1;
}

.div_info_playlist_ch {
    grid-column: 2/4;
    display: inline-grid;
    grid-template-rows: repeat(2, 1fr);
}

.div_titulo_lista_c {
    grid-row: 1;
}

.div_stats_lista_c {
    grid-row: 1;
}