.Card_lista_grande {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.div_imagen_lista_g {
    grid-column: 1;
}

.div_info_playlist_g {
    grid-column: 2/4;
    display: inline-grid;
    grid-template-rows: repeat(4, 1fr);
}

.div_titulo_lista_g {
    grid-row: 1;
}

.div_stats_lista_g {
    grid-row: 2;
}

.div_descripcion_lista_g {
    grid-row: 3/5;
}