.imagen_logro {
    border-radius: 90%;
    overflow: hidden;
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.contenedor_imagen_logo {
    height: 80%;
}

.Card_logro {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 225px;

}

.contenedor_info_logo {
    padding-top: 4%;
    height: 20%;
    width: 100%;
    text-align: center;
}